# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/
.env

# SQLite database
db.sqlite3

# Environment variables
.env

# Django collected static files
product_images/

# Logs
*.log

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Test data
testing.txt